.div2{
	width: 30px;
	height: 30px;
	background: red;
	margin: 0px 0px 0px 0px;
	position: absolute;
	top: -15px;
	right: -15px;
}
.div1{
	background: #CFCFCF;
	width: 498px;
	height: 218px;
	border: 1px solid black;
	position: absolute;
	top: 30px;
}